@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav a.y-link{
    box-shadow: 3px 3px  0 0.5px var(--yellow);
}

nav a.y-link:hover{
    transform: translateX(2px) translateY(2px);
    box-shadow: 1px 1px  0 0.5px var(--yellow);
}

.text-shadow-black{
    text-shadow: 1px 0 var(--gray), -1px 0 var(--gray), 0 1px var(--gray), 0 -1px var(--gray),
               0.5px 0.5px var(--gray), -0.5px -0.5px var(--gray), 0.5px -0.5px var(--gray), -0.5px 0.5px var(--gray);
}

.text-shadow-black-hover:hover{
    text-shadow: 1px 0 var(--gray), -1px 0 var(--gray), 0 1px var(--gray), 0 -1px var(--gray),
               0.5px 0.5px var(--gray), -0.5px -0.5px var(--gray), 0.5px -0.5px var(--gray), -0.5px 0.5px var(--gray);
}

.shadow-green-button{
    box-shadow: 7px 7px  0 0.5px var(--green);
}

.shadow-green-button:active{
    transform: translateX(4px) translateY(4px);
    box-shadow: 3px 3px  0 0.5px var(--green);
}

.shadow-black-image{
    box-shadow: 7px 7px  0 0.5px var(--black);
}

.active-link{
  color: orange !important;
  background-color: transparent !important;
}


#aptitudes div.child.relative:nth-child(-n) {
    border-bottom: var(--border-aptitudes);
  }
  
  #aptitudes div.child.relative:nth-child(2n) {
    border-left: var(--border-aptitudes);
  }
  
  #aptitudes div.child.relative:nth-child(n+5) {
    border-top: var(--border-aptitudes);
  }

main{
    position: fixed;
    z-index: -20;
    top: 0;
    left: 0;
}

.about:hover{
    box-shadow: 0 0 20px var(--dark-blue);
    transform: scale(1.03);
}

.about-background{
    position: absolute;
    height: 1000rem;
    width: 1000rem;
    top: 0;
    left: 0;
    z-index: -10;
    content: "";
    background-image: radial-gradient(
        ellipse at var(--Xpx-gradient) var(--Ypx-gradient),
    var(--light-blue) 0%,
    var(--dark-blue) 0.5% 100%
  );
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1, .typewriter h2 {
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      blink-caret .5s step-end infinite;
  }

  .typewriter .remove-cursor{
    border-right: 0 !important;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


@keyframes animation-loading {
    0% {
        --loading-progress: 0%;
        width: var(--loading-progress);
        content: var(--loading-progress);
    } 100%{
        --loading-progress: 100%;
        content: var(--loading-progress);
        width: var(--loading-progress);

    }
}


@media (max-width: 768px) {
    .text-shadow-black-hover:hover{
        text-shadow: none ;
    }


    .active-link{
      color: white !important;
      background-color: orange !important;
    }
}


.container-carousel {
    position: relative;
    width: 200px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite linear;
  }
  .carousel__face { 
    position: absolute;
    width: 150px;
    height: 150px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/React.svg");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Nextjs-logo.svg");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/db/Npm-logo.svg");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  

  @media (width<1024px) {
    .carousel__face { 
        position: absolute;
        width: 100px;
        height: 100px;
        top: 20px;
        left: 10px;
        right: 10px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
      }
      
      .container-carousel {
        position: relative;
        width: 150px;
        margin: 100px auto 0 auto;
        perspective: 1000px;
      }

      .carousel__face:nth-child(1) {
        transform: rotateY(  0deg) translateZ(320px); }
      .carousel__face:nth-child(2) { 
          transform: rotateY( 40deg) translateZ(320px); }
      .carousel__face:nth-child(3) {
        transform: rotateY( 80deg) translateZ(320px); }
      .carousel__face:nth-child(4) {
        transform: rotateY(120deg) translateZ(320px); }
      .carousel__face:nth-child(5) { 
       transform: rotateY(160deg) translateZ(320px); }
      .carousel__face:nth-child(6) { 
       transform: rotateY(200deg) translateZ(320px); }
      .carousel__face:nth-child(7) { 
       transform: rotateY(240deg) translateZ(320px); }
      .carousel__face:nth-child(8) {
        transform: rotateY(280deg) translateZ(320px); }
      .carousel__face:nth-child(9) {
        transform: rotateY(320deg) translateZ(320px); }
      
}


@media (width<768px) {
    .carousel__face { 
        position: absolute;
        width: 65px;
        height: 65px;
        top: 20px;
        left: 10px;
        right: 10px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
      }
      
      .container-carousel {
        position: relative;
        width: 120px;
        margin: 100px auto 0 auto;
        perspective: 1000px;
      }

      .carousel__face:nth-child(1) {
        transform: rotateY(  0deg) translateZ(230px); }
      .carousel__face:nth-child(2) { 
          transform: rotateY( 40deg) translateZ(230px); }
      .carousel__face:nth-child(3) {
        transform: rotateY( 80deg) translateZ(230px); }
      .carousel__face:nth-child(4) {
        transform: rotateY(120deg) translateZ(230px); }
      .carousel__face:nth-child(5) { 
       transform: rotateY(160deg) translateZ(230px); }
      .carousel__face:nth-child(6) { 
       transform: rotateY(200deg) translateZ(230px); }
      .carousel__face:nth-child(7) { 
       transform: rotateY(240deg) translateZ(230px); }
      .carousel__face:nth-child(8) {
        transform: rotateY(280deg) translateZ(230px); }
      .carousel__face:nth-child(9) {
        transform: rotateY(320deg) translateZ(230px); }
      
        #aptitudes div.child:nth-child(-n+2) {
          border-bottom: var(--border-aptitudes);
        }
        
        #aptitudes div.child:nth-child(2n) {
          border-left: var(--border-aptitudes);
        }
        
        #aptitudes div.child:nth-child(n+7) {
          border-top: var(--border-aptitudes);
        }

}


@media (width<600px) {
    .carousel__face { 
        position: absolute;
        width: 50px;
        height: 50px;
        top: 20px;
        left: 10px;
        right: 10px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
      }
      
      .container-carousel {
        position: relative;
        width: 100px;
        margin: 100px auto 0 auto;
        perspective: 500px;
      }

      .carousel__face:nth-child(1) {
        transform: rotateY(  0deg) translateZ(150px); }
      .carousel__face:nth-child(2) { 
          transform: rotateY( 40deg) translateZ(150px); }
      .carousel__face:nth-child(3) {
        transform: rotateY( 80deg) translateZ(150px); }
      .carousel__face:nth-child(4) {
        transform: rotateY(120deg) translateZ(150px); }
      .carousel__face:nth-child(5) { 
       transform: rotateY(160deg) translateZ(150px); }
      .carousel__face:nth-child(6) { 
       transform: rotateY(200deg) translateZ(150px); }
      .carousel__face:nth-child(7) { 
       transform: rotateY(240deg) translateZ(150px); }
      .carousel__face:nth-child(8) {
        transform: rotateY(280deg) translateZ(150px); }
      .carousel__face:nth-child(9) {
        transform: rotateY(320deg) translateZ(150px); }
      
}

.linear-wipe {
  background: radial-gradient(
    circle at 100%,
    var(--black),
    rgb(84, 84, 84) 50%,
    rgb(100, 100, 100) 75%,
    var(--black) 75%
  );
  font-weight: 600;
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 1.5s linear infinite;
}
@keyframes animatedTextGradient {
  to {
    background-position: 200% center;
  }
}

.linear-wipe2 {
  background: radial-gradient(
    circle at 100%,
    var(--black),
    rgb(84, 84, 84) 50%,
    rgb(100, 100, 100) 75%,
    var(--black) 75%
  );
  font-weight: 600;
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 1.5s linear infinite reverse 0.1s;
}

.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--yellow);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}