:root{
    --black:rgb(35, 35, 35);
    --yellow: rgb(253 224 71);
    --gray: rgb(100, 100, 100);
    --green: #00C6AE;
}

nav h3{
    box-shadow: 3px 3px  0 0.5px var(--yellow);
}

.text-shadow-black{
    text-shadow: 1px 0 var(--gray), -1px 0 var(--gray), 0 1px var(--gray), 0 -1px var(--gray),
               0.5px 0.5px var(--gray), -0.5px -0.5px var(--gray), 0.5px -0.5px var(--gray), -0.5px 0.5px var(--gray);
}

.text-shadow-black-hover:hover{
    text-shadow: 1px 0 var(--gray), -1px 0 var(--gray), 0 1px var(--gray), 0 -1px var(--gray),
               0.5px 0.5px var(--gray), -0.5px -0.5px var(--gray), 0.5px -0.5px var(--gray), -0.5px 0.5px var(--gray);
}

.shadow-green-button{
    box-shadow: 7px 7px  0 0.5px var(--green);
}

.shadow-green-button:active{
    transform: translateX(4px) translateY(4px);
    box-shadow: 3px 3px  0 0.5px var(--green);
}

.shadow-black-image{
    box-shadow: 7px 7px  0 0.5px var(--black);
}


@media (max-width: 768px) {
    .text-shadow-black-hover:hover{
        text-shadow: none ;
    }
}